body {
  font-family: 'Quattrocento Sans', sans-serif;
  background: black;
  color: white;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 36px;
}

.switchboard {
  width: 480px;
  height: 480px;
  margin: 0 auto;
  display: flex;
}

.switch-col {
  display: flex;
  flex-direction: column;
  width: 30px;
}

.switch {
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  margin: 3px;
  border-radius: 5px;
  background-image: radial-gradient(circle at 8px, #676767 20%, #4f4f4f 100%);
}

.tempLit, .lit {
  background-image: radial-gradient(circle at 8px, #cecece 20%, #6f6f6f 100%);
}

.playing {
  background-image: radial-gradient(circle at 8px, #ffffff 20%, #c3c3c3 100%);
}

.sliders {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer {
  width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0px 5px;
}

.button:hover {
  background: #909090;
}

.controls {
  display: flex;
}

.links {
 padding: 10px 20px;
}

.links a {
  color: #0192B5;
  margin-left: 10px;
}

.instructions-modal {
  width: 400px;
  margin: 0 auto;
  top: 70px;
  background-image: radial-gradient(circle at 200px, aliceblue 40%, #d2f7ff 100%);
  color: black;
  padding: 30px 40px;
  position: relative;
  border-radius: 5px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #e56149;
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
}

.closeButton:hover {
  background: #ff856f;
}
